.concerts-page {
  height: calc(100% - var(--navigationBarHeight));
  padding: 0px;
}

.concerts-control-container {
  .icon {
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;

    &-rotate-ccw {
      background-image: url("./assets/svg/rotate-ccw.svg");
    }

    &-map-pin {
      background-image: url("./assets/svg/map-pin.svg");
    }
  }

  .search-input-container .icon {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    opacity: 0.55;
    background-position: 10px;
  }
}

.concerts-body {
  width: 100%;
  height: calc(100% - 64px); // Plz forgive me
  display: flex;
}

.concerts-list {
  width: 400px;
  height: 100%;
  background: rgba(200, 200, 200, 0.1);
  overflow-y: overlay;
  border-right: 1px solid var(--color2);
  flex: none;
  overflow-x: hidden;
}

.concert-info {
  width: 100%;
  height: 100%;
}